@tailwind base;
@tailwind components;
@tailwind utilities;

.widgets {
  box-sizing: border-box;
  position: absolute;
  overflow: hidden;
  top: 243px;
  width: calc(100% - 42px);
  height: 93px;
  background: green;
  border-radius: 20px;
  opacity: 1;
}

.buildImage {
  height: auto;
  width: 80%;
}

.bkg-img {
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 50px;
}

.save-img {
  height: 100%;
  width: 100%;
}

.saveImageBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  visibility: hidden;
  overflow: hidden;
}

.saveImageBoxHeader {
  width: 100%;
  position: absolute;
  top: 0;
  height: fit-content;
  font-size: xx-large;
  color: black;
  background: rgba(255, 255, 255, 0.499);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.saveImagePhone {
  width: auto;
  height: fit-content;
  overflow: scroll;
}

.designBoxBottom {
  width: 100%;
  height: 30%;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  bottom: 0;
  left: 0;
  background: rgb(109, 109, 109);
  color: white;
  visibility: hidden;
}

.uploadButton {
  @apply duration-200;
}

.uploadButton:hover {
  @apply bg-emerald-950 duration-200;
}
