@tailwind base;
@tailwind components;
@tailwind utilities;

.mainApp {
  font-family: "Raleway", sans-serif;
  font-weight: 100;
}

.titleText {
  font-family: "Raleway", sans-serif;
  font-weight: 400;
}

.widgets {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  position: absolute;
  background: rgba(75, 75, 75, 0.843);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 13px;
  animation: blinker 2s linear infinite;
}

.buildImage {
  height: 100%;
  width: auto;
}

.bkg-img {
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 50px;
}

.save-img {
  height: 100%;
  width: 100%;
}

.saveImageBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  visibility: hidden;
  overflow: hidden;
}

.saveImageBoxHeader {
  width: 100%;
  position: absolute;
  top: 0;
  height: fit-content;
  font-size: xx-large;
  color: black;
  background: rgba(255, 255, 255, 0.499);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.saveImagePhone {
  width: fit-content;
  height: fit-content;
  overflow: scroll;
}

.designBoxBottom {
  width: 100%;
  height: 300px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  bottom: -400px;
  left: 0;
  background: #2a2a2e;
  box-shadow: 0px -1px 5px 1px #0e0e2268;
  color: white;
  transition: 200ms ease-in;
}

/* Radio Buttons for Menu */
.radio_item {
  display: none !important;
}

.label_item {
  opacity: 0.35;
  padding: 10px;
}

.radio_item:checked + label {
  opacity: 1;
}

.uploadButton {
  transition: 200ms;
}

.uploadButton:hover {
  background: #abb1c2;
  transition: 200ms;
}

select {
  appearance: none;
  background-color: transparent;
  border: none;
  padding: 0 1em 0 0;
  margin: 0;
  width: 100%;
  font-family: inherit;
  font-size: inherit;
  cursor: inherit;
  line-height: inherit;
}

.select {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  font-size: 1rem;
  cursor: pointer;
  line-height: 1.1;
  background-color: rgb(191 219 254);
  display: grid;
  grid-template-areas: "select";
  align-items: center;
  position: relative;
}

.select::after {
  content: "";
  width: 0.5em;
  height: 0.4em;
  background-color: #5e6169;
  clip-path: polygon(100% 0%, 0 0%, 50% 100%);
  justify-self: end;
}

select,
.select:after {
  grid-area: select;
}

select:focus + .focus {
  position: absolute;
  top: -1px;
  left: -1px;
  right: -1px;
  bottom: -1px;
  border: 2px solid #5e6169;
  border-radius: inherit;
}

@keyframes blinker {
  50% {
    color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
  }
}
