@tailwind base;
@tailwind components;
@tailwind utilities;

.widgets {
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(255, 255, 255, 0.5);
  box-sizing: border-box;
  position: absolute;
  background: rgba(75, 75, 75, 0.843);
  border: 1px solid rgba(255, 255, 255, 0.5);
  animation: blinker 2s linear infinite;
}

.buildImage {
  height: 100%;
  width: auto;
}

.bkg-img {
  height: 100%;
  width: 100%;
  background: black;
  border-radius: 50px;
}

.save-img {
  height: 100%;
  width: 100%;
}

.saveImageBox {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background: white;
  visibility: hidden;
  overflow: hidden;
}

.saveImageBoxHeader {
  width: 100%;
  position: absolute;
  top: 0;
  height: fit-content;
  font-size: xx-large;
  color: black;
  background: rgba(255, 255, 255, 0.499);
  padding: 10px;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.saveImagePhone {
  width: fit-content;
  height: fit-content;
  overflow: scroll;
}

.designBoxBottom {
  width: 100%;
  height: 300px;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  bottom: -400px;
  left: 0;
  background: rgb(109, 109, 109);
  color: white;
  transition: 200ms ease-in;
}

/* Radio Buttons for Menu */
.radio_item {
  display: none !important;
}

.label_item {
  opacity: 0.35;
  padding: 10px;
}

.radio_item:checked + label {
  opacity: 1;
}

.uploadButton {
  @apply duration-200;
}

.uploadButton:hover {
  @apply bg-emerald-950 duration-200;
}

@keyframes blinker {
  50% {
    color: rgba(255, 255, 255, 0);
    border: 1px solid rgba(255, 255, 255, 0);
  }
}
